.containerHero {
    display: flex;
    justify-content: center;
    column-gap: 100px;

    background-color: #0E0D20;
    padding-top: 180px;
    
    width: 100%;
}

.containerHeroDescription {
    width: 650px;
    background-color: #0f0e22;

    border-radius: 12px;
    border: 3px solid #131229;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    padding: 30px;
}

.descriptionTitleHero {
    color: #676581;
    font-size: 45px;

    margin-bottom: 20px;
}

.descriptionTextHero {
    color: #676581;
    font-size: 22px;
    text-align: justify;

    margin-bottom: 40px;
}

.registerHeroButton {
    display: flex;
    color: #403f63;
    justify-content: center;
    font-size: 23px;
    background-color: #1d1b38;
    border-radius: 12px;
    padding: 15px 30px;
    transition: all 0.3s;
}

.registerHeroButton:hover {
    color: #f5fac9;
    background-color: #2a2747;
}

.containerHeroBenefits {
    width: 330px;
    background-color: #0f0e22;
        
    border-radius: 12px;
    border: 3px solid #131229;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        
    padding: 30px;
}

.benefitsListHero {
    color: #676581;
    font-size: 22px;
    text-align: start;
}

.benefitsItemHero:not(:last-child) {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.svg {
    fill: #676581;
    stroke: none;
    margin-right: 8px;
}