.linkList {
    display: flex;
    justify-content: center;
}
  
.link {
    padding: 15px 30px;
    color: #676581;
    font-size: 23px;
    transition: all 0.3s; 
}
  
.link:hover {
    color: #f0f0f0;
}
  
.active {
    color: #f0f0f0;
}

