.listItem {
    border: 2px solid #b9ac6e;
    border-radius: 7px;
    padding: 15px;
    width: 300px;
    margin-bottom: 25px;
}

.contactsInfo {
    margin-bottom: 10px;
}

.buttonDelete {
    background-color: rgb(177, 164, 110);
    border-radius: 5px;
}

.buttonDelete:hover {
    background-color: rgb(150, 138, 94);
}