.linksContainer {
  display: flex;
  align-items: center;
}

.userLinks {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  transition: all 0.3s;
}

.register {
  width: 166px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border-radius: 12px;
  padding: 14px 39px;
  background-color: #121417;
}

.iconLogin {
  margin-right: 8px;
}

.login {
  margin-right: 16px;
  background: none;
  padding: 0;
}
